* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

label {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  float: left;
  padding: 3% 4%;
}

@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: sp;
        -ms-flex-pack: sp;
            justify-content: sp;
    padding: 1%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  width: 56px;
  height: 56px;
  float: left;
  background: url(../img/layout/logo.png) center center/56px no-repeat;
  font-size: 0;
}

@media (min-width: 768px) {
  .logo {
    margin-left: 94%;
  }
}

.btn-mobile {
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  color: #fff;
  border-radius: 56px;
  background-color: #ed145b;
  cursor: pointer;
}

@media (min-width: 768px) {
  .btn-mobile {
    display: none;
  }
}

/* MENU */
.menu {
  display: none;
  width: 100%;
  height: 60%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    width: 79%;
  }
}

.menu ul {
  width: 100%;
  float: left;
  text-align: center;
}

@media (min-width: 768px) {
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 82%;
    margin-left: 14%;
  }
}

.menu li {
  padding: 1.5%;
}

@media (min-width: 768px) {
  .menu li {
    font-size: 0.7em;
  }
  .menu li:hover {
    color: #ed145b;
    font-size: 0.9em;
  }
}

.menu li a {
  font-size: 2em;
  color: #fff;
  padding: 1.5% 3%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu li a:hover {
    border-left: 1px solid #ed145b;
  }
}

.btn-close {
  font-size: 2.8em;
  color: #fff;
  float: right;
  cursor: pointer;
  margin-right: 6%;
  margin-top: 3%;
}

@media (min-width: 768px) {
  .btn-close {
    display: none;
  }
}

/* BANNER */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80vh;
  width: 100%;
  padding: 3% 4%;
  background-color: #000;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35vh;
  width: 90%;
  border: 1px solid #ed145b;
  border-style: groove;
}

.title h2 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 700;
}

.title h2 span {
  color: #ed145b;
}

.title h3 {
  font-size: 1.5em;
  color: #fff;
}

.button {
  width: 100%;
}

.btn-cw {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  padding: 5%;
  background-color: transparent;
  color: #ed145b;
}

/*ABOUTME*/
.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 15vh;
  background-color: #fff;
  background-image: url(../img/layout/bg-photo-perfil.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.display-aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .display-aboutme {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5%;
    margin-bottom: 12%;
  }
}

.aboutme h2 {
  margin-top: 5%;
  color: #ed145b;
  font-size: 2.3em;
  font-weight: 300;
}

@media (min-width: 768px) {
  .aboutme h2 {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: 300;
  }
}

.aboutme-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .aboutme-photo {
    height: 65vh;
    margin-top: -12%;
  }
}

.aboutme-photo img {
  width: 50%;
  margin: 8% 0%;
  border-radius: 30%;
}

@media (min-width: 768px) {
  .aboutme-photo img {
    width: 54%;
  }
}

.aboutme-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.aboutme-description a {
  border: solid 2px #ed145b;
  color: #ed145b;
  border-radius: 10px;
  padding: 7px;
  margin-top: 18px;
  font-size: 0.87rem;
  margin-bottom: 21px;
}

.aboutme-description h4 {
  font-size: 0.9em;
  font-weight: 300;
  color: #272526;
  padding: 0% 4%;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .aboutme-description h4 {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .aboutme-description h4 {
    font-size: 1.4em;
  }
}

.works {
  width: 100%;
  padding: 15% 4%;
  height: auto;
}

@media (min-width: 768px) {
  .works {
    padding: 10% 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.works:hover {
  color: #ed145b;
}

.works h2 {
  color: #ed145b;
  text-align: center;
  margin: 25px;
  font-size: 2em;
  font-weight: 700;
}

@media (min-width: 768px) {
  .works-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-top: 2%;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  border-radius: 2%;
  width: 100%;
  text-align: left;
  margin-bottom: 3%;
}

@media (min-width: 768px) {
  .work {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .work {
    width: 33%;
  }
}

.work:hover {
  border: solid 2px rgba(237, 20, 91, 0.8);
  -webkit-transition: -webkit-box-shadow .4s ease-out;
  transition: -webkit-box-shadow .4s ease-out;
  transition: box-shadow .4s ease-out;
  transition: box-shadow .4s ease-out, -webkit-box-shadow .4s ease-out;
}

.work a img {
  border-radius: 3%;
  max-width: 100%;
  height: 14rem;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

.inner h4 {
  font-size: 1.2em;
  color: #fff;
  margin-top: 2%;
  margin-left: 16px;
  width: 100%;
  height: 52%;
}

.inner a {
  color: #ed145b;
  border-radius: 10px;
  padding: 7px;
  margin-top: 18px;
  margin-bottom: 21px;
  font-size: 1.1rem;
  font-weight: 300;
  width: 50%;
}

/*FORM*/
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  color: #fff;
}

.form label {
  color: #fff;
}

.contact-form h2 {
  margin-bottom: 7vh;
}

/*redes sociais*/
.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 10vh;
}

.social-network a {
  cursor: pointer;
  text-shadow: rgba(237, 20, 91, 0.75) 4px 0px 20px;
  color: #ed145b;
  font-size: 1.4em;
}

@media (min-width: 768px) {
  .social-network a {
    font-size: 1.8em;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  font-size: 0.9em;
  font-weight: 100;
  color: #ccc;
}

.box-email {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ed145b;
}
/*# sourceMappingURL=style.css.map */