$colorFont: rgb(237, 20, 91);

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none; 
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}
body{
    background-color: #000;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

label{
    display: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}


/* HEADER */
.header{
    background-color: #000;
    position: fixed;
    width: 100%; 
    float: left; 
    padding: 3% 4%;
    @media (min-width:768px) {
        display: flex;
        justify-content: sp;
        padding: 1%;
        justify-content: space-between;
    }
}
.logo{
    width: 56px;
    height: 56px; 
    float: left; 
    background: url(../img/layout/logo.png) center center/56px no-repeat;
    font-size: 0;
    @media (min-width:768px) {
        margin-left: 94%;
    }
}
.btn-mobile{
    width: 56px; 
    height: 56px; 
    float: right; 
    text-align: center; 
    color: #fff; 
    border-radius: 56px; 
    background-color: rgb(237, 20, 91); 
    cursor: pointer;
    @media (min-width:768px) {
        display:none;
    }
}

/* MENU */
.menu{
    display: none;
    width: 100%; 
    height: 60%; 
    position: fixed; 
    background-color: rgba(0,0,0,0.9); 
    top: 0; 
    left: 0;
    @media (min-width:768px) {
        display:flex;
        position: initial;
        width: 79%;
    }
    & ul{
        width: 100%; 
        float: left; 
        text-align: center;
        @media (min-width:768px) {
            display:flex;
            margin-top: 1.5%;
            justify-content: space-evenly;
            width: 82%;
            margin-left: 14%;
        }
    }
    & li{
        padding: 1.5%;
        @media (min-width:768px) {
            font-size: 0.7em;
            &:hover{
                color: $colorFont;
                font-size: 0.9em;
            }
        }
    }
    & li a {
        font-size: 2em; 
        color: #fff; 
        padding: 1.5% 3%; 
        cursor: pointer;
        &:hover{
            @media (min-width:768px) {
                border-left:1px solid $colorFont;
            }
        }
    }
}
.btn-close{
    font-size: 2.8em; 
    color: #fff; 
    float: right; 
    cursor: pointer; 
    margin-right: 6%; 
    margin-top: 3%;
    @media (min-width:768px) {
        display:none;
    }
}


/* BANNER */
.banner{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly; 
    height: 80vh;
    width: 100%; 
    padding: 3% 4%;
    background-color: #000;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    width: 90%; 
    border: 1px solid rgb(237, 20, 91); 
    border-style: groove;
}
.title h2{
    font-size: 2.5em; 
    color: #fff; 
    font-weight: 700;
}
.title h2 span{
    color: $colorFont;
}
.title h3{
    font-size: 1.5em; 
    color: #fff;
}
.button{
    width: 100%;
}
.btn-cw{
    width: 100%;
    font-size: 1.5em; 
    text-align: center; 
    cursor: pointer; 
    padding: 5%; 
    background-color: transparent; 
    color: $colorFont;
}

/*ABOUTME*/ 

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 15vh;
    background-color: #fff;
    background-image: url(../img/layout/bg-photo-perfil.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.display-aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:768px) {
        flex-direction: row;
        margin-top: 5%;
        margin-bottom: 12%;
    }
}
.aboutme h2{
    margin-top: 5%;
    color: $colorFont;
    font-size: 2.3em;
    font-weight: 300;
    @media (min-width:768px) {
        margin-top: 0;
        font-size: 2.5em;
        font-weight: 300;
    }
    
}
.aboutme-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (min-width:768px) {
        height: 65vh;
        margin-top: -12%;
    }
}
.aboutme-photo img{
    width: 50%;
    margin: 8% 0%;
    border-radius: 30%;
    @media (min-width:768px) {
        width: 54%;
    }
   
}

.aboutme-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.aboutme-description a{
    border: solid 2px rgb(237, 20, 91);
    color: $colorFont;
    border-radius: 10px;
    padding: 7px;
    margin-top: 18px;
    font-size: 0.87rem;
    margin-bottom: 21px;
}
.aboutme-description h4{
    font-size: 0.9em;
    font-weight: 300;
    color:rgb(39, 37, 38);;
    padding: 0% 4%;
    width: 100%;
    text-align: center;
    @media (min-width:768px) {
        font-size: 1.2em;
    }  
    @media (min-width:1024px) {
        font-size: 1.4em;
    }   
}

.works{
    width: 100%; 
    padding: 15% 4%;
    height: auto;
    @media (min-width:768px){
        padding: 10% 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &:hover{
        color: $colorFont;
    }
    & h2{
        color:$colorFont;
        text-align: center;
        margin: 25px;
        font-size: 2em;
        font-weight: 700;
    } 
    &-container{
        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: row;
            width: 100%;
            margin-top: 2%;
        }
    }
}


.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 2%;
    width: 100%; 
    text-align: left; 
    margin-bottom: 3%; 
    @media (min-width:768px) {
        width: 50%
    }
    @media (min-width:1024px) {
        width: 33%;
    }
}
.work:hover{
    border: solid 2px rgba(237, 20, 91, 0.8);
    transition: box-shadow .4s ease-out;

}
.work a img{
    border-radius: 3%;
    max-width:100%;
	height:14rem;
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.inner h4{
    font-size: 1.2em;
    color: #fff;
    margin-top: 2%;
    margin-left: 16px;
    width: 100%;
    height: 52%;
}

.inner a{
    border: solid 2px rgb(237, 20, 91);
    color: $colorFont;
    border-radius: 10px;
    padding: 7px;
    margin-top: 18px;
    margin-bottom: 21px;
    font-size: 1.1rem;
    font-weight: 300;
    width: 50%;
}

/*FORM*/ 

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    color: #fff;
}

.form label{
    color: #fff;
}

.contact-form h2{
    margin-bottom: 7vh;
}



/*redes sociais*/

.social-network{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}

.social-network a{
    cursor: pointer;
    text-shadow: rgba(237, 20, 91, 0.75) 4px 0px 20px;
    color: $colorFont;

}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 0.9em;
    font-weight: 100;
    color: #ccc;
}

.box-email{
    display: none; 
    justify-content: center;
    color: rgb(237, 20, 91); 
}


